@import '../../styles/variables';

section.experience {
  padding-top: 100px;

  .hidden {
    opacity: 0;
    max-height: 0px;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;

    * {
      margin: 0 !important;
      padding: 0 !important;
      height: 0 !important;
    }
  }

  ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: block;

    li {
      list-style-type: none;
    }
  }

  .experience {
    &__companies {
      &__item {
        height: auto;
        margin-top: 40px;

        &:after {
          content: '';
          display: block;
          width: 25%;
          height: 2px;
          background-color: #e85a4f;
          margin-left: 1rem;
        }
      }

      &__title {
        h5 {
          font-family: 'Raleway', sans-serif;
          color: #252323;
          font-size: 1rem;
          font-weight: 700;
        }
      }

      &__content {
        border-left: solid 1px #70798c;

        p {
          color: #252323;
          font-size: 1rem;
          font-family: 'Open Sans', sans-serif;
          white-space: pre-line;
          margin-left: 1rem;
          margin-bottom: 1rem;
          max-width: 90%;
        }

        a {
          display: block;
          padding: 1rem 0;
          font-family: 'Open Sans', sans-serif;
          color: #70798c;
          font-size: 0.75rem;
          margin-left: 1rem;
        }
      }
    }

    &__tech {
      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        max-width: 100vw;
      }

      &__item {
        width: 50%;
        height: 200px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        gap: 30px;

        @media #{$desk} {
          width: 33%;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          transition: opacity 500ms ease, transform 500ms ease;

          &:hover {
            text-decoration: none;
            opacity: 0.75;
            transform: scale(0.95);
          }

          h5 {
            color: #252323;
          }

          p {
            font-size: 0.75rem;
            text-transform: uppercase;
          }
        }
      }

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: 150px;

        img {
          object-fit: contain;
          text-align: center;
          margin: auto;
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    &__more {
      button {
        display: block;
        width: 50%;
        margin: 30px auto;
        padding: 30px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        background-color: #70798c;
        transition: all 500ms ease;
        opacity: 1;
        border: none;
        outline: none;

        &:hover {
          transform: scale(0.99);
          opacity: 0.5;
        }
      }

      .hidden {
        opacity: 0;
        max-height: 0px;
        height: 0;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
  }
}
