footer.footer {
  .footer {
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    &__contact {
      &__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 0 0;
        padding: 2rem 0 2rem 0;

        li {
          list-style-type: none;

          ul {
            padding: 0;
          }
        }

        .email {
          margin-left: 1rem;
        }
      }

      &__social {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 0 0;
        margin-bottom: 0.5rem;
      }

      svg {
        width: 3rem;
        margin-right: 0.75rem;
      }
    }

    &__copyright {
      p,
      a {
        font-size: 0.75rem;
      }
    }
  }
}
