html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
}

section,
footer {
  padding: 2rem 0rem;
}

h3 {
  color: #e85a4f;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1rem;

  &:before {
    content: '< ';
    align-self: flex-start;
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin-right: 0.5rem;
    font-style: italic;
    opacity: 0.25;
  }

  &:after {
    content: ' />';
    align-self: flex-end;
    font-size: 0.75rem;
    line-height: 0.75rem;
    margin-left: 0.5rem;
    font-style: italic;
    opacity: 0.25;
  }
}

a {
  color: #e85a4f;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  transition: color 500ms ease, opacity 500ms ease;
  &:hover {
    opacity: 0.5;
    color: #70798c;
  }

  span {
    color: #70798c;
  }
}

span {
  color: #70798c;
}

p {
  color: #252323;
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
}

.line {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}
